@charset "utf-8";
/* CSS Document */

/* Debug *
*{
  background-color: #000 !important;
  color: #00ff00;
  border: 1px solid #ff0000;
}
/**/
body,
td,
th,
p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}


/* ====================== Navigation ====================== */
nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #252831;
  text-align: center;
  box-sizing: border-box;

  h1 {
    margin: auto;

    a {
      color: #fff;
      font-size: 14pt;
      font-weight: 200;
      letter-spacing: 10px;
      text-transform: uppercase;
    }
  }
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;

    /* Display list items side by side */
    li {

      display: inline;


      /* Add a color to all links inside the list */
      a {
        color: #0275d8;
        text-decoration: none;
      }

      a:hover {
        color: #01447e;
        text-decoration: underline;
      }
    }

    /* Add a slash symbol (/) before/behind each list item */
    li+li:before {
      padding: 8px;
      color: black;
      content: "/\00a0";
    }
}


/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
	display: flex;
	justify-content: center;
	flex-direction: column;
  width: auto;
  height: auto;
  background-color: #3397DB;
  align-items: center;
	padding: 20px;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  width: 100%;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 500px;
  width: 100%;
  margin-top: 121px;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 40px 30px;
  width: 100%;
  box-sizing: border-box;
}

#reviews-container {
  padding: 30px 40px 80px;
  box-sizing: border-box;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	/* ====================== Restaurant Filtering ====================== */
	.filter-options {
		flex-direction: row;
		height: auto;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	.filter-options {
		justify-content: flex-start;
	}

  nav h1{
    margin: 0;
    justify-content: flex-start;
  }

  .inside #map-container {
    width: 50%;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    margin-top: 0;
  }

  #breadcrumb{
    width: calc(50% - 80px);
  }

  #restaurant-container{
    padding-top: 140px;
    width: 50%;
    padding: 40px 20px 20px;
  }

  #restaurants-list li{
    display: flex;
    max-width: 100%;
    width: 100%;
    min-height: initial;
    padding: 25px 30px;
  }

  #restaurants-list li h1 {
    margin-top: 0;
  }

  #restaurants-list .restaurant-img{
    max-height: 200px;
    min-width: initial;
  }

  #restaurants-list li a{
    height: 20px;
    margin: 0;
  }

  #reviews-container{
    width: 50%;
    padding: 20px;
  }

  .pull-right-sm {
    margin-left: auto !important;
  }

  .detailContainer {
    margin-left: 15px;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}


/* XX large devices (large laptops and desktops, 1700px and up) */
@media only screen and (min-width: 1700px) {
  #restaurants-list{
    max-width: 1500px;
    margin: auto;
  }
}
